name: Deploy to Staging

on:
  push:
    branches: [ main ]

jobs:
  deploy_staging:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    defaults:
      run:
        working-directory: envs/staging

    env:
      TF_VAR_location: "East US"
      TF_VAR_admin_username: "azureuser"
      TF_VAR_admin_password: ${{ secrets.ADMIN_PASSWORD }}
      

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Debug Azure Auth
      run: az account show

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan -out=tfplan
    - name: Show Plan Summary
      run: terraform show -no-color tfplan

    - name: Terraform Apply
      run: terraform apply -auto-approve tfplan